export(cleanColname)
export(doAnnotation)
export(get2NearestFeature)
export(getFeatureCounts)
export(getFeatureCountsBig)
export(getLowestDists)
export(getNearestFeature)
export(getRelevantCol)
export(getSitesInFeature)
export(getUCSCtable)
export(getWindowLabel)
export(makeChunks)
export(makeGRanges)
export(makeRangedData)
export(makeUCSCsession)
export(resizeRangedData)
import(BSgenome)
import(GenomicRanges)
import(dataframe)
import(foreach)
import(iterators)
import(plyr)
import(rtracklayer)
