export(doAnnotation)
export(get2NearestFeature)
export(getFeatureCounts)
export(getFeatureCountsBig)
export(getLowestDists)
export(getNearestFeature)
export(getRelevantCol)
export(getSitesInFeature)
export(getUCSCtable)
export(getWindowLabel)
export(makeRangedData)
export(makeUCSCsession)
export(resizeRangedData)
